.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label{
    -fx-font-size: 10pt; 
    -fx-font-family: "Palatino Linotype";
    -fx-text-fill: black;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: linear-gradient(#7db6e8 0%, #4f9be3 25%, #338fe6 75%, #0b73da 100%);
    -fx-text-fill: #ffffff;
}

.table-row-cell:even { 
    -fx-background-color: #ffffff;
}
.table-row-cell:odd { 
    -fx-background-color: #e6f2ff;
}
.table-row-cell:empty { 
    -fx-background-color: #ffffff;
}

.table-row-cell:filled:hover .table-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #0093ff;
}

.dialog .slider .track,.edit-dialog .slider .track{
    -fx-background-color:transparent;
}
.tab-pane{
    -fx-tab-min-height: 1.5em;
    -fx-tab-max-height: 1.5em;

    -fx-tab-min-width:10em;
    -fx-tab-max-width:15em;

    -fx-padding: 0 -1 -1 0;

}
.movie-list{
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 0 1 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 5;
}

.tab-pane > .tab-header-area > .headers-region > .tab{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 5 0 0, 1 6 0 0 ;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region >.tab:selected{
    -fx-backgroud-color: #ffffff;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: linear-gradient(#7db6e8 0%, #4f9be3 25%, #338fe6 75%, #0b73da 100%);
}
.tab-pane > .tab-header-area > .headers-region >.tab:selected .focus-indicator{
    -fx-border-width: 0;  
}
.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab .tab-label{
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-border-color:transparent;
}
